# Supabase Environment Variables
EXPO_PUBLIC_SUPABASE_URL=<Supabase project URL>
EXPO_PUBLIC_SUPABASE_KEY=<Supabase project Publishable key>
SUPABASE_ACCESS_TOKEN=<Access token from Supabase login>
EXPO_PUBLIC_SUPABASE_ADMIN_EMAIL=<Created Supabase user email>
EXPO_PUBLIC_SUPABASE_ADMIN_PASSWORD=Created Supabase user password>
